
<!--    <li>-->
<!--      <button routerLink="/home" class="btn btn-outline-success ms-1"> Home-->
<!--      <i class="bi bi-house text-success"></i>-->
<!--      </button>-->
<!--    </li>-->
<!--    <li>-->
<!--      <button routerLink="/products" class="btn btn-outline-success ms-1">Products-->
<!--        <i class="bi bi-building-add text-success"></i>-->
<!--      </button>-->
<!--    </li>-->
<!--    <li>-->
<!--      <button  routerLink="/newProduct" class="btn btn-outline-success ms-1">New Product-->
<!--        <i class="bi bi-plus-circle text-success"></i>-->
<!--      </button>-->
<!--    </li>-->

<router-outlet>

</router-outlet>
