
<div class="p-3">
  <div class="card">
    <div class="card-body">
      <div class="card-body">
        {{keyword}}
        <input class="p-1" type="text" [(ngModel)]="keyword">
        <button (click)= "getProducts()"class="btn btn-outline-success ms-1">
        <i class="bi-search"></i></button>
        </div>
     <table class="table">
       <thead>
       <tr>
         <th>Name</th>
         <th>Price</th>
         <th>Checked</th>
       </tr>
       </thead>
       <tbody>
       <tr *ngFor="let product of products ">
         <td>{{product.name}}</td>
         <td>{{product.price}}</td>
         <td>
           <button (click)="handleCheckProduct(product)"class="btn btn-outline-success">
             <i [class]="product.checked ? 'bi-toggle-on' :'bi-toggle-off'"></i>
           </button>
         </td>
         <td>
           <button (click)="handleDelete(product)"class="btn btn-outline-danger">
             <i class="bi bi-trash"></i>
           </button>
         </td>
         <td>
           <button (click)="handleEdit(product)"class="btn btn-outline-danger">
             <i class="bi bi-pencil"></i>
           </button>
         </td>
       </tr>
       </tbody>
     </table>
        <ul class="nav nav-pills">
          <li *ngFor="let page of [].constructor(this.totalPages);let i=index">
            <button (click)="handleGotoPage(i+1)" [ngClass]="currentPage==(i+1)?'btn btn-success m-1':'btn btn-outline-success m-1'" >
              {{i+1}}
            </button>
          </li>
        </ul>
    </div>
  </div>
</div>

